body
{
    background-color: lightgray;
}

/* security */
.fname
{
    visibility: hidden;
}

/* navbar */

.navbar{
    background-color: rgba(255, 166, 0, 0.822);
}

.navbar-brand{
color: white;
}

.nav-link{
    color: white;
}