{% extends "base.twig" %}


{% block title %}
{{ parent() }}
Pense bete
{% endblock %}


{% block header %}

	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>pense bete</h1>
			</div>
		</div>
	</div>

{% endblock %}


{% block body %}



{% endblock %}
