{% extends "base.twig" %}

{% block header %}

<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Egnink</h1>
		</div>
		<div class="">
		{{ Msg.flash|default('') }}
		</div>
	</div>
</div>

{% endblock %}

{% block subtitle %}

<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<p> page index</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="">
			<h4>
				Pense bete</h4>
		</div>
		<div class="">
			<a href="https://support.google.com/google-ads/answer/9702955?hl=fr">Certification Google</a>
		</div>
		<div class="">
			<p>
				Presentation de l'entreprise
			</p>
		</div>
		<div class="">
				Serveur ecologique voir argument de vente
		</div>
		<div class="">
			Réseau Sociaux
		</div>
	</div>
</div>


{% endblock %}




