{% extends "base.twig" %}


{% block title %}
{{ parent() }}
Tarif
{% endblock %}

{% block header %}

<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Tarif</h1>
		</div>
	</div>
</div>

{% endblock %}

{% block body %}





{% endblock %}